.header {
  background-image: require("./hero-image.jpg");
  background: linear-gradient($purple-light, $purple);
  height: 400px;
  padding: 20px 24px;
}

.hero {
  align-items: center;
  margin-top: 90px;
  &__title {
    font-family: 'Salome', serif;
    font-size: 1.3em;
    letter-spacing: 2px;
    line-height: 52px;
  }
}

.menu {
  &__title {
    text-transform: uppercase;
    font-weight: 300;

  }
}