@import 'bourbon/bourbon';
@import 'animate';
@import 'contact';

@font-face {
  font-family: 'Salome';
  src: url('/fonts/salome-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/salome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/salome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/salome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/salome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$white: #fafafa;
$purple: #422a3a;
$lato: 'Lato', Helvetica, Arial, sans-serif;
$salome: 'Salome', serif;

body {
  margin: 0;
  padding: 0;
}

.button, button {
  background: $white;
  color: $purple;
  width: 240px;
  font-family: $lato;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:hover {
  }
  &--purple {
    background: $purple;
    color: $white;
  }
}

.subtitle {
  font-family: $lato;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.hero {
  background: url("images/hero-bg.jpg") no-repeat top center;
  background-size: cover;
  background-color: $purple;
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 50px 0 0;
  @media (max-width: 780px) {
    height: 550px;
  }
  &__logo {
      width: 100px;
      margin: 0 auto 30px;
      display: block;
  }
  &__title {
      font-family: 'Salome', serif;
      font-size: 3.3em;
      text-align: center;
      color: $white;
      max-width: 70%;
      text-transform: uppercase;
      letter-spacing: 3.3px;
      line-height: 72px;
      margin: 110px auto 0;
      @media (max-width: 780px) {
        font-size: 26px;
        text-align: left;
        line-height: 36px;
        letter-spacing: 2.5px;
        margin-top: 40px;
        max-width: 100%;
        padding: 0 24px;
      }
  }
  &__subtitle {
      color: $white;
      @media (max-width: 780px) {
        text-align: left;
        max-width: 100%;
        padding: 0 24px;
        margin: 5px auto;
      }
  }
   &__subtitle-2 {
      color: $white;
display: block;
    margin-top: 10px;
      @media (max-width: 780px) {
        display: inline;
        margin-top: 0;
      }
  }
  &__cta {
      margin: 80px auto 0;
      display: block;
      @media (max-width: 780px) {
        margin-top: 50px;
      }
  }
}

.introduction {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background: $white;
  color: $purple;
  padding: 24px;
  text-align: center;
  &__title {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 300;
  }
  &__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 28px;

  }
  &__body {
    font-size: 18px;
    font-weight: 300;
    max-width: 752px;
    margin: 20px auto;
    letter-spacing: .3px;
    line-height: 28px;
  }
}

.case-studies {
  color: $purple;
  position: relative;
  &__subtitle {
    display: none;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  @media (max-width: 780px) {
    display: none;
  }
  
  .study-one {
    height: 500px;
    margin: 70px 24px 0px 0px;
    @media (max-width: 780px) {
      margin: 0 auto;
      padding: 0 24px;
    }
    &__image {
      background: url("images/snapp-digital.png") no-repeat left center;
      width: 100%;
      height: 400px;
      background-size: contain;
      position: absolute;
      left: -100px;
      @media (max-width: 780px) {
        left: 0;
        background-position: top;
        height: 100%;
      }
    }
    &__text {
      margin-top: 60px;
      position: absolute;
      margin-left: 540px;
      @media (max-width: 780px) {
        margin-left: auto;
        position: static;
        margin-top: 0;
      }
    }
    &__title {
      font-family: $salome;
      font-size: 40.5px;
    }
    &__body {
      font-family: $lato;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: .2px;
      line-height: 28px;
      width: 80%;
    }
    &__link {
      font-family: $lato;
      color: $purple;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid $purple;
    }
  }

  .study-two {
    height: 500px;
    @media (max-width: 780px) {
      margin: 0 auto;
      padding: 0 24px;
    }
    &__image {
      background: url("images/knowledgepost.png") no-repeat right center;
      width: 100%;
      height: 400px;
      background-size: contain;
      position: absolute;
    }
    &__text {
      position: absolute;
      margin-right: 640px;
      margin-top: 90px;
      margin-left: 140px;
    }
    &__title {
      font-family: $salome;
      font-size: 40.5px;
    }
    &__body {
      font-family: $lato;
      font-family: $lato;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: .2px;
      line-height: 28px;
    }
    &__link {
      font-family: $lato;
      color: $purple;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid $purple;
    }
  }

  .study-three {
    height: 500px;
    margin: 70px 24px 0px 0px;
    @media (max-width: 780px) {
      margin: 0 auto;
      padding: 0 24px;
    }
    &__image {
      background: url("images/snapp-digital.png") no-repeat left center;
      width: 100%;
      height: 400px;
      background-size: contain;
      position: absolute;
      left: -100px;
      @media (max-width: 780px) {
        left: 0;
        background-position: top;
        height: 100%;
      }
    }
    &__text {
      margin-top: 60px;
      position: absolute;
      margin-left: 540px;
      @media (max-width: 780px) {
        margin-left: auto;
        position: static;
        margin-top: 0;
      }
    }
    &__title {
      font-family: $salome;
      font-size: 40.5px;
    }
    &__body {
      font-family: $lato;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: .2px;
      line-height: 28px;
      width: 80%;
    }
    &__link {
      font-family: $lato;
      color: $purple;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid $purple;
    }
  }
}

.about {
    background: url("images/ship-3.jpg") no-repeat left center;
    height: 800px;
    width: 600px;
    position: relative;
    @media (max-width: 780px) {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    &__intro {
      background: #fff;
      padding: 40px;
      position: relative;
      left: 400px;
      top: 200px;
      @media (max-width: 780px) {
        background: rgba(255,255,255, .8);
        padding: 0;
        position: static;
        left: 0;
        top: 0;
      }

    }
    &__title {
      color: $purple;
      font-family: $salome;
      font-size: 27px;
      line-height: 40px;
      letter-spacing: .2px;
      @media (max-width: 780px) {
        max-width: 270px;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
    &__body {
      position: relative;
      left: 650px;
      top: 230px;
      @media (max-width: 780px) {
        background: rgba(255, 255, 255, 0.8);
        position: static;
        padding: 0px 0 40px;
      }
      p {
        color: $purple;
        font-family: $lato;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: .4px;
        line-height: 42px;
        max-width: 70%;
        @media (max-width: 780px) {
          max-width: 270px;
          margin: 0 auto;
        }
      }
    }
    &__cta {
        margin: 0 auto;
        display: none;
    }
}

.footer {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  color: $white;
  background: $purple;
  padding: 25px 0 30px;
  font-family: $lato;
  a {
    color: #b491a8;
    text-decoration: none;
    border-bottom: 1px dotted #b491a8;
    text-rendering: optimizelegibility;
  }
}

#mc_embed_signup {
  display: none;
}

#mc-prompt {
    margin: 0;
}
#mce-EMAIL {
    border: none;
    width: 200px;
    height: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.65em;
    font-weight: normal;
    font-family: 'lato', sans-serif;
}
#mc-embedded-subscribe {
    font-size: 0.6em;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 5px 74px;
    background-color: transparent;
    margin-top: 10px;
}
